* {
    padding: 0;
}
h1, p{
    text-align: center;
}
#divText {
    border: 3px solid black;
}
.whack-a-mole {
    margin-top: 1em;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: auto;
}
.row {
    margin: auto;

    display: flex;
    justify-content: space-between;
}
.innerBox {
    border: 1px solid black;
    background-color: white;
    width:33.33vw;
    height:33.33vw;
}

